<!DOCTYPE HTML>
<html>
<head>
	<title>공유해요!</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<link rel="stylesheet" href="../static/assets/css/comment.css" />
	<link rel="shortcut icon" href="#">
</head>

<body class="subpage">
<header id="header">
	<div class="inner">
		<a href="#" class="logo">Don't worry Don worry!</a>
		<nav id="nav">
			<a href="javascript:history.back()">뒤로가기</a>
		</nav>
		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>
<section id="three" class="wrapper">
	<div class="inner">
		<header class="align-center">
			<div class="image round">
				<img src="../static/images/chat.png" style="width: 150px;" alt="댓글공유" />
			</div>
			<h2>댓글 공유하기</h2>
			<p>금융 상품의 정보를 함께 공유해요</p>
			<strong>상품명: </strong><strong id="prd_nm"></strong>
		</header>

		<table id="commentTable">
			<tr><th style="text-align:center">번호</th><th style="text-align:center">이름</th><th style="text-align:center">댓글</th><th style="text-align:center">삭제</th></tr>
		</table>
	</div>
	<footer id="footer">
			<div class="inner">
				<h3>댓글쓰기</h3>
				<form action="#" method="post" id="form_comment">
					<div class="field half first">
						<label for="name">이름</label>
						<input name="name" id="name" type="text">
					</div>
					<div class="field half">
						<label for="password">비밀번호</label>
						<input name="password" id="password" type="password">
					</div>
					<div class="field">
						<label for="comment">댓글</label>
						<textarea name="comment" id="comment" rows="6"></textarea>
					</div>
					<ul class="actions">
						<li><input value="댓글공유하기" class="button alt" type="button" onclick="insertComment()"></li>
					</ul>
				</form>
			</div>
		</footer>
</section>

<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>
</html>