<!DOCTYPE HTML>
<html>
<head>
	<title>공유해요!</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<link rel="shortcut icon" href="#">
</head>

<body class="subpage">
<header id="header">
	<div class="inner">
		<a href="#" class="logo">Don't worry Don worry!</a>
		<nav id="nav">
			<a href="javascript:history.back()">뒤로가기</a>
		</nav>
		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>
<!--comment 시각화-->
<!--commnet 등록 폼 넣을 것-->
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>
</html>