<!DOCTYPE HTML>
<html>
<head>
	<title>About 정기예금</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="subpage">
<header id="header">
	<div class="inner">
		<a href="" class="logo">Don't worry Don worry!</a>
		<nav id="nav">
			<a href="javascript:showHome();">Home</a>
			<a href="javascript:showSavings();">적금</a>
		</nav>
		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>

<section id="three" class="wrapper">
	<div class="inner">
		<header class="align-center">
			<div class="image round">
				<img src="../static/images/deposit.png" style="width: 150px;" alt="정기예금" />
			</div>
			<h2>정기예금</h2>
			<p>정기예금은 특정 기간동안 일정 금액을 예치하면 만기 후 이자를 받는 상품입니다.</p>
		</header>
		<!--검색하는 부분 -->
		<div id="searches">
			<select class="select_boxes" id="choiceMain" onchange="displaySearch();">
				<option value="상품검색">상품검색</option>
				<option value="은행검색">은행검색</option>
			</select>
		</div>
		<!--검색옵션 select할때 각각 보이는 부분-->
		<div class="row uniform" id="queryDiv">
				<div class="9u 12u$(small)">
					<input type="text" name="query" id="query" value="" placeholder="상품키워드를 입력해주세요.">
				</div>
				<div class="3u$ 12u$(small)">
					<input type="button" value="Search" id="searchBtn" onclick="searchProducts()">
				</div>
			</div>
			<div id = "selectDiv" style="display: none;">
				<select id="select_banks" onchange="searchByBankName();">
				</select>
			</div>
		</div>
		<br>
		<!--페이징 -->
	</div><!--inner end -->
</section>

<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>
</html>