<!DOCTYPE HTML>
<html>
<head>
    <title>돈걱정 돈워리!</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../static/assets/css/main.css"/>
</head>
<body>
<header id="header">
    <div class="inner">
        <nav id="nav">
            <!--아이디 버튼 넣을 것-->
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>
<section id="banner">
    <!--inner에 이미지 삽입: 무료이미지 활용-->
    <div class="inner">
        <header>
            <h1>Don't worry Don worry!</h1>
        </header>
        <footer>
            돈 걱정 돈 워리!<br>
            Don worry는 저축상품을 대상으로 서비스를 제공합니다.<br>
            정기예금과 적금정보를 함께 공유합니다.
        </footer>
    </div>
</section>
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>
</html>