<!DOCTYPE HTML>
<html>
<head>
    <title>돈걱정 돈워리!</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../static/assets/css/main.css"/>
</head>
<body>

<!-- Navigation -->
<header id="header">
    <div class="inner">
        <nav id="nav">
            <!--아이디 버튼 넣을 곳-->
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Main image -->
<section id="banner" style="background-image: url('https://cdn.pixabay.com/photo/2013/07/18/10/56/packs-163497_1280.jpg'); z-index:1;">
    <div class="inner">
        <header>
            <h1>Don't worry Don worry!</h1>
        </header>
        <footer>
            돈 걱정 돈 워리!<br>
            Don worry는 저축상품을 대상으로 서비스를 제공합니다.<br>
            정기예금과 적금정보를 함께 공유합니다.
        </footer>
    </div>
</section>

<!-- Wrapper: 서브페이지 이동 -->
<section id="three" class="wrapper align-center">
    <div class="inner">
        <div class="flex flex-2">
            <article>
                <div class="image round">
                    <img src="../static/images/deposit.png" style="width: 200px;" alt="정기예금"/>
                </div>
                <header>
                    <h3>정기예금</h3><br/>
                </header>
                <p>정기예금은 특정 기간동안 일정 금액을 예치하면 <br/>만기 후 이자를 받는 상품입니다. <br/><strong>정기예금 상품이 궁금하신가요?</strong></p>
                <footer>
                    <a href="javascript:showDeposit();" class="button">Learn More</a>
                </footer>
            </article>
            <article>
                <div class="image round">
                    <img src="../static/images/savings.png" style="width: 200px;" alt="적금"/>
                </div>
                <header>
                    <h3>적금</h3><br/>
                </header>
                <p>적금은 특정기간동안 매월 특정금액을 일정하게 <br/> 입금하는 상품입니다. <br/><strong>적금 상품이 궁금하신가요?</strong></p>
                <footer>
                    <a href="javascript:showSavings();"  class="button">Learn More</a>
                </footer>
            </article>
        </div>
    </div>
</section>

<!-- Footer: register form -->
<footer id="footer">
    <div class="inner">
        <h3>Join</h3>
        <form action="#" method="post">
            <div class="field half first">
                <label for="name">이름</label>
                <input name="name" id="name" type="text">
            </div>
            <div class="field half">
                <label for="email">이메일</label>
                <input name="email" id="email" type="email" placeholder="aaa@gmail.com">
            </div>
            <div class="field half first">
                <label for="genderChoice">성별</label>
                <div class="4u 12u$(small)" id="genderChoice">
                    <input type="radio" id="genderMan" name="gender" value="남성" checked>
                    <label for="genderMan">남성</label>
                    <input type="radio" id="genderWoman" name="gender" value="여성">
                    <label for="genderWoman">여성</label>
                </div>
            </div>
            <div class="field half">
                <label for="birth">생년월일</label>
                <input name="birth" id="birth" type="text" placeholder="2020-11-20">
            </div>
            <div class="field half first">
                <label for="userId">아이디</label>
                <input name="userId" id="userId" type="text">
            </div>
            <div class="field half">
                <label for="userPW">패스워드</label>
                <input name="userPW" id="userPW" type="password">
            </div>
            <ul class="actions">
                <li><input value="Join" class="button alt" type="button" onclick="join();"></li>
            </ul>
        </form>
    </div>
</footer>

<!-- Modal: 로그인 -->
<div id="loginModal" class="hide modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <div class="field half first">
                    <label for="userId">아이디</label>
                    <input name="userId" id="loginId" type="text">
                </div>
                <div class="field half">
                    <label for="userPW">패스워드</label>
                    <input name="userPW" id="loginPW" type="password">
                </div>
            </div>
            아직 돈워리 회원이 아니신가요? <a id="register" href="#footer" onclick="register();">회원가입바로가기</a>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="login();">Login</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/home.js"></script>
<script src="../static/assets/js/skel.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>
</html>